<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<style>
    nav{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    nav>a{
        font-size: 20pt;
    }
    p{
        font-size: 15pt;
    }
</style>
<body>
    <nav>
        <a href="/s">S</a>
        <a href="/o">O</a>
        <a href="/l">L</a>
        <a href="/i">I</a>
        <a href="/d">D</a>
    </nav>

    <p>
        SOLID es un conjunto de cinco principios de diseño para la organización de estructuras
        de datos y operaciones. Aunque no son de aplicación exclusiva en el paradigma de
        programación orientada a objetos, si funcionan naturalmente desde esta perspectiva.
    </p>
    <p>
        Estos principios promueven la consecución de una alta cohesión y bajo acoplamiento
        en nuestro sistema al nivel de los módulos . Particularmente, fomentan la
        construcción de código fácilmente adaptable al cambio, fácil de entender y
        reutilizable.
    </p>
</body>
</html>